/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* footer container styles */
.Footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0A1830;
}

/* footer top section styles */
.footer-top{
    display: flex;
    align-items: center;
    padding: 50px;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
}

/* footer section container styles */
.footer-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 75px;
    margin-left: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer-middle{
    padding-left: 120px;
}

/* the footer middle section styles */
.social-icons{
    display: flex;
    align-items: center;
    margin-bottom: 74px;
}

.social-icons > img{
    margin: 5px;
    margin-right: 9px;
    margin-left: 9px;
}

/* the footer bottom section styles */
.footer-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .footer-top{
        display: flex;
        width: 100%;
        flex: 1;
        flex-wrap: wrap;
    }
    /* footer section container styles */
.footer-section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 35px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
}